.captcha-dialog {
    border: 2px solid #50a2ff;
    border-radius: 8px;
}

.dialog-title {
    font-size: 1.3rem;
    color: #ffffff;
}

.dialog-content {
    font-size: 1rem;
    color: #f0f0f0;
}

.dialog-button {
    background-color: #e87500;
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    padding: 0 1.5rem;
}