    :host {
        --bright-blue: oklch(51.01% 0.274 263.83);

        --gray-900: oklch(19.37% 0.006 300.98);
        --gray-700: oklch(36.98% 0.014 302.71);
        --gray-400: oklch(70.9% 0.015 304.04);

        /* Blue + gray palette */
        --light-blue: oklch(78% 0.12 240);
        --blue: oklch(60% 0.18 250);

        --gray-300: oklch(85% 0.01 250);
        --gray-500: oklch(60% 0.01 250);
        --gray-700: oklch(37% 0.01 250);

        --blue-to-gray-vertical-gradient: linear-gradient(180deg,
                var(--light-blue) 0%,
                var(--blue) 50%,
                var(--gray-700) 100%);

        font-family: 'Space Mono', monospace;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: block;
        height: 100dvh;
        background-color: #ffffff;
    }

    h1 {
        font-size: 3.125rem;
        color: var(--gray-900);
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.125rem;
        margin: 0;
        font-family: 'Space Mono', monospace;
        margin-left: 1rem;
    }

    p {
        margin: 0;
        color: var(--gray-700);
        margin-left: 1rem;
    }

    main {
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-sizing: inherit;
        position: relative;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .angular-logo {
        max-width: 9.2rem;
    }

    .content {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 700px;
        margin-bottom: 3rem;
    }

    .content p {
        margin-top: 1.5rem;
    }

    .divider {
        width: 1px;
        background: var(--blue-to-gray-vertical-gradient);
        margin-inline: 0.5rem;
    }

    .captcha-title {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 1px;

        background: linear-gradient(90deg, #2b2b2b, #6e6e6e, #b0b0b0, #6e6e6e, #2b2b2b);
        background-size: 200% auto;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;

        animation: neutralShine 4s linear infinite;
    }

    .captcha-title img {
        width: 50px;
        height: 50px;
        // margin-right: 10px;
    }

    @keyframes neutralShine {
        0% {
            background-position: 0% center;
        }

        100% {
            background-position: 200% center;
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #ddd;
        // font-size: 0.9rem;
        color: #6e6e6e;
        gap: 0.4rem;
        padding-top: 0.4rem;
    }

    .footer-right {
        display: flex;
        align-items: center;
        color: #6e6e6e;
        // letter-spacing: 0.3px;
        font-family: none;
    }

    .captchPage {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }

    .captch-btn {
        background: var(--bright-blue);
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: flex;
        align-items: center;
        background: color-mix(in srgb, var(--bright-blue) 15%, transparent);
        color: var(--bright-blue);
        gap: 0.5rem;
    }

    .botImage img {
        width: 21rem;
    }

    .social-links {
        display: flex;
        align-items: center;
        gap: 0.73rem;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #6b7280;
            text-decoration: none;
            transition: color 0.2s ease;
        }

        svg {
            display: block;
            width: 25px;
            height: 24px;
            fill: currentColor;
        }

        a:hover {
            color: #111827;
        }
    }


    @media screen and (max-width: 650px) {
        .content {
            flex-direction: column;
            width: max-content;
        }

        .divider {
            height: 1px;
            width: 100%;
            background: var(--blue-to-gray-vertical-gradient);
            margin-block: 1.5rem;
        }
    }